.container-avatar-completo {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2.25em;
}
.container-imagen {
  width: 95%;
  margin: 0%;
  display: flex;
  flex-wrap: wrap;
}

.avatar {
  width: 100%;
  height: 100%;
  /*margin-left: 0%;*/
  display: flex;
  justify-items: center;
  align-items: center;
}
.avatar-medida-base{
  display: flex;
  font-size: 1em;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.18em;
  color: #575757;
}
.container-info-avatar {
  width: 100%; /* Ajusta el ancho según tus necesidades */
  justify-content: center;
  padding: 0;
  /*margin: 1em;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /* Eliminado */
  align-items: center;
}

.container-titulo {
  display: flex;
  transform-origin: top center;
  margin-top: 2em;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
}

