<div class="container-avatar-completo" >
  <div class="container-imagen">
    <img class="avatar" alt="medidas-de-avatar" src="../../../assets/imagen-avatar.png">
  </div>
  <div class= "container-info-avatar">
    <div class="container-titulo">
      <h3 class="avatar-medida-base"> AVATAR MEDIDA BASE </h3>
    </div>
    <div class= "container-parrafos">
      <p class="AVtext1 "> Las medidas se muestran en centímetros (cm). Para cargar el formulario tomá como referencia los sectores señalados con línea.</p>
      <p class="AVtext2">El modelo base en mujer es el talle XS y en hombre es M.</p>
    </div>
  </div>
</div>

