<div>
    <div class="formulario-edicion">
      <h1 class= "editar-cuenta" > EDITA TU PERFIL</h1>
        <div class="container-form col-8">
          <form [formGroup]="idUsuarioForm" class= "form-edit" >

            <div class="form-nombre ">
              <label> Nombre:</label>
              <input formControlName="nombre" type="text" class="form-control">
              <div *ngIf="this.idUsuarioForm.controls.nombre.invalid && (this.idUsuarioForm.controls.nombre.dirty || this.idUsuarioForm.controls.nombre.touched)" class="text-danger">
                <div *ngIf="this.idUsuarioForm.controls.nombre.errors?.['required']">
                  <p class="text-danger"> Campo Obligatorio</p>
                </div>
              </div>
            </div>

            <div class="form-apellido ">
              <label> Apellido:</label>
              <input formControlName="apellido" type="text" class="form-control">
              <div *ngIf="this.idUsuarioForm.controls.apellido.invalid && (this.idUsuarioForm.controls.apellido.dirty || this.idUsuarioForm.controls.apellido.touched)" class="text-danger">
                <div *ngIf="this.idUsuarioForm.controls.apellido.errors?.['required']">
                  <p class="text-danger"> Campo Obligatorio</p>
                </div>
              </div>
            </div>

            <div class="form-calle ">
              <label> Calle:</label>
              <input formControlName="calle" type="text" class="form-control">
              <div *ngIf="this.idUsuarioForm.controls.calle.invalid && (this.idUsuarioForm.controls.calle.dirty || this.idUsuarioForm.controls.calle.touched)" class="text-danger">
                <div *ngIf="this.idUsuarioForm.controls.calle.errors?.['required']">
                  <p class="text-danger"> Campo Obligatorio</p>
                </div>
              </div>
            </div>

            <div class="form-altura ">
              <label> Altura:</label>
              <input formControlName="altura" type="text" class="form-control">
              <div *ngIf="this.idUsuarioForm.controls.altura.invalid && (this.idUsuarioForm.controls.altura.dirty || this.idUsuarioForm.controls.altura.touched)" class="text-danger">
                <div *ngIf="this.idUsuarioForm.controls.altura.errors?.['required']">
                  <p class="text-danger"> Campo Obligatorio</p>
                </div>
              </div>
            </div>

            <div class="form-ph ">
              <label> PH:</label>
              <input formControlName="ph" type="text" class="form-control">
              <div *ngIf="this.idUsuarioForm.controls.ph.invalid && (this.idUsuarioForm.controls.ph.dirty || this.idUsuarioForm.controls.ph.touched)" class="text-danger">
                <div *ngIf="this.idUsuarioForm.controls.ph.errors?.['required']">
                  <p class="text-danger"> Campo Obligatorio</p>
                </div>
              </div>
            </div>

            <div class="form-cp ">
              <label> Código Postal:</label>
              <input formControlName="cp" type="text" class="form-control">
              <div *ngIf="this.idUsuarioForm.controls.cp.invalid && (this.idUsuarioForm.controls.cp.dirty || this.idUsuarioForm.controls.cp.touched)" class="text-danger">
                <div *ngIf="this.idUsuarioForm.controls.cp.errors?.['required']">
                  <p class="text-danger"> Campo Obligatorio</p>
                </div>
              </div>
            </div>

            <div class="form-ciudad ">
              <label> Ciudad:</label>
              <input formControlName="ciudad" type="text" class="form-control">
              <div *ngIf="this.idUsuarioForm.controls.ciudad.invalid && (this.idUsuarioForm.controls.ciudad.dirty || this.idUsuarioForm.controls.ciudad.touched)" class="text-danger">
                <div *ngIf="this.idUsuarioForm.controls.ciudad.errors?.['required']">
                  <p class="text-danger"> Campo Obligatorio</p>
                </div>
              </div>
            </div>

            <div class="form-provincia ">
              <label> Provincia:</label>
              <input formControlName="provincia" type="text" class="form-control">
              <div *ngIf="this.idUsuarioForm.controls.provincia.invalid && (this.idUsuarioForm.controls.provincia.dirty || this.idUsuarioForm.controls.provincia.touched)" class="text-danger">
                <div *ngIf="this.idUsuarioForm.controls.provincia.errors?.['required']">
                  <p class="text-danger"> Campo Obligatorio</p>
                </div>
              </div>
            </div>

            <div class="form-telefono ">
              <label> Telefono:</label>
              <input formControlName="tel" type="text" class="form-control">
              <div *ngIf="this.idUsuarioForm.controls.tel.invalid && (this.idUsuarioForm.controls.tel.dirty || this.idUsuarioForm.controls.tel.touched)" class="text-danger">
                <div *ngIf="this.idUsuarioForm.controls.tel.errors?.['required']">
                  <p class="text-danger"> Campo Obligatorio</p>
                </div>
              </div>
            </div>

            <p class="text-danger">{{MensajeError}}</p>
            <p class="text-success">{{MensajeInfo}}</p>
            <button type="button" class="btn btn-dark" (click)="editUser()">ENVIAR</button>

          </form>
        </div>
      </div>
</div>

<!--
            <label class="cuadro-texto">
              <h2 [ngClass]="{
                'invalid': formulario.get('nombre').invalid && formulario.get('nombre').touched
              }">Nombre:</h2>
              <input class="input" type="text" formControlName="nombre" [ngClass]="{
                'invalid': formulario.get('nombre').invalid && formulario.get('nombre').touched
              }">
              <div *ngIf="formulario.get('nombre').invalid && formulario.get('nombre').touched">
                <div class="validacion" *ngIf="formulario.get('nombre').errors.required">Campo Obligatorio.</div>
              </div>
            </label>

            <label class="cuadro-texto">
              <h2 [ngClass]="{
                'invalid': formulario.get('apellido').invalid && formulario.get('apellido').touched
              }">Apellido:</h2>
              <input class="input" type="text" formControlName="apellido" [ngClass]="{
                'invalid': formulario.get('apellido').invalid && formulario.get('apellido').touched
              }">
              <div *ngIf="formulario.get('apellido').invalid && formulario.get('apellido').touched">
                <div class="validacion" *ngIf="formulario.get('apellido').errors.required">Campo Obligatorio.</div>
              </div>
            </label>

            <label class="cuadro-texto">
              <h2 [ngClass]="{
                'invalid': formulario.get('documentodeidentidad').invalid && formulario.get('documentodeidentidad').touched
              }">Documento de Identidad:</h2>
              <input class="input" type="number" formControlName="documentodeidentidad" [ngClass]="{
                'invalid': formulario.get('documentodeidentidad').invalid && formulario.get('documentodeidentidad').touched
              }">
              <div *ngIf="formulario.get('documentodeidentidad').invalid && formulario.get('documentodeidentidad').touched">
                <div class="validacion" *ngIf="formulario.get('documentodeidentidad').errors.required">Campo Obligatorio.</div>
              </div>
            </label>

            <label class="cuadro-texto">
              <h2 [ngClass]="{
                'invalid': formulario.get('email').invalid && formulario.get('email').touched
              }">Dirección de Correo Electrónico:</h2>
              <input class="input" type="text" formControlName="email" [ngClass]="{
                'invalid': formulario.get('email').invalid && formulario.get('email').touched
              }">
              <div *ngIf="formulario.get('email').invalid && formulario.get('email').touched">
                <div class="validacion" *ngIf="formulario.get('email').errors.required">Campo Obligatorio.</div>
              </div>
            </label>

            <label class="cuadro-texto">
              <h2 [ngClass]="{
                'invalid': formulario.get('password').invalid && formulario.get('password').touched
              }">Contraseña:</h2>
              <input class="input" type="text" formControlName="password" [ngClass]="{
                'invalid': formulario.get('password').invalid && formulario.get('password').touched
              }">
              <div *ngIf="formulario.get('password').invalid && formulario.get('password').touched">
                <div class="validacion" *ngIf="formulario.get('password').errors.required">Campo Obligatorio.</div>
              </div>
            </label>

            <label class="cuadro-texto">
              <h2 [ngClass]="{
                'invalid': formulario.get('calle').invalid && formulario.get('calle').touched
              }">Calle:</h2>
              <input class="input" type="text" formControlName="calle" [ngClass]="{
                'invalid': formulario.get('calle').invalid && formulario.get('calle').touched
              }">
              <div *ngIf="formulario.get('calle').invalid && formulario.get('calle').touched">
                <div class="validacion" *ngIf="formulario.get('calle').errors.required">Campo Obligatorio.</div>
              </div>
            </label>

            <label class="cuadro-texto">
              <h2 [ngClass]="{
                'invalid': formulario.get('altura').invalid && formulario.get('altura').touched
              }">Altura:</h2>
              <input class="input" type="number" formControlName="altura" [ngClass]="{
                'invalid': formulario.get('altura').invalid && formulario.get('altura').touched
              }">
              <div *ngIf="formulario.get('altura').invalid && formulario.get('altura').touched">
                <div class="validacion" *ngIf="formulario.get('altura').errors.required">Campo Obligatorio.</div>
              </div>
            </label>

            <label class="cuadro-texto">
              <h2 [ngClass]="{
                'invalid': formulario.get('ph').invalid && formulario.get('ph').touched
              }">Piso-Departamento-PH:</h2>
              <input class="input" type="number" formControlName="ph" [ngClass]="{
                'invalid': formulario.get('ph').invalid && formulario.get('ph').touched
              }">
              <div *ngIf="formulario.get('ph').invalid && formulario.get('ph').touched">
                <div class="validacion" *ngIf="formulario.get('ph').errors.required">Campo Obligatorio.</div>
              </div>
            </label>

            <label class="cuadro-texto">
              <h2 [ngClass]="{
                'invalid': formulario.get('cp').invalid && formulario.get('cp').touched
              }">Codigo Postal:</h2>
              <input class="input" type="text" formControlName="cp" [ngClass]="{
                'invalid': formulario.get('cp').invalid && formulario.get('cp').touched
              }">
              <div *ngIf="formulario.get('cp').invalid && formulario.get('cp').touched">
                <div class="validacion" *ngIf="formulario.get('cp').errors.required">Campo Obligatorio.</div>
              </div>
            </label>

            <label class="cuadro-texto">
              <h2 [ngClass]="{
                'invalid': formulario.get('ciudad').invalid && formulario.get('ciudad').touched
              }">Ciudad:</h2>
              <input class="input" type="text" formControlName="ciudad" [ngClass]="{
                'invalid': formulario.get('ciudad').invalid && formulario.get('ciudad').touched
              }">
              <div *ngIf="formulario.get('ciudad').invalid && formulario.get('ciudad').touched">
                <div class="validacion" *ngIf="formulario.get('ciudad').errors.required">Campo Obligatorio.</div>
              </div>
            </label>

            <label class="cuadro-texto">
              <h2 [ngClass]="{
                'invalid': formulario.get('provincia').invalid && formulario.get('provincia').touched
              }">Provinica:</h2>
              <input class="input" type="text" formControlName="provincia" [ngClass]="{
                'invalid': formulario.get('provincia').invalid && formulario.get('provincia').touched
              }">
              <div *ngIf="formulario.get('provincia').invalid && formulario.get('provincia').touched">
                <div class="validacion" *ngIf="formulario.get('provincia').errors.required">Campo Obligatorio.</div>
              </div>
            </label>

            <label class="cuadro-texto-ultimo">
              <h2 [ngClass]="{
                'invalid': formulario.get('telefono').invalid && formulario.get('telefono').touched
              }">Teléfono:</h2>
              <input class="input" type="number" formControlName="telefono" [ngClass]="{
                'invalid': formulario.get('telefono').invalid && formulario.get('telefono').touched
              }">
              <div *ngIf="formulario.get('telefono').invalid && formulario.get('telefono').touched">
                <div class="validacion" *ngIf="formulario.get('telefono').errors.required">Campo Obligatorio.</div>
              </div>
            </label> -->

            <!-- <button class="btn btn-dark" (click)="onSubmit" value="ENVIAR"> ENVIAR</button>

            <div *ngIf="mensajeEnviado">¡Informacion actualizada!</div> -->




